body
{
	background-color: #0099ff;
}
#top
{
  text-align: center;
  max-height: 100px;
}
#viewpanel
{
  background-color: green;
  min-height: 550px;
  width: 75%;
  height: 60%;
  float: left ;
  text-align: center;

}
#buttonpanel
{
background-color: #66ffcc;
height: 40%;
width: 25%;
min-height: 120px;
float: right ;
text-align: center;
}
#enterpanel
{
  margin-top: 10px;
  background-color: #006600;
  width: 75%;
  min-height: 260px;
  text-align: center;
  float: left;
}
#userpanel
{
  background-color: #660066;
  min-height: 700px;
  width: 25%;
  float: right ;
  text-align: center;
}
.content
{
	margin-top: 10px;
	width: 600px;
	height: 120px;
	float: center;
	margin-left: 50px;
	margin-top: 50px;
	border-width: 2px;
  border-style: solid;
  border-color: grey;
}
.sendbutton
{
	float: right;
	margin-right: 20px;
	margin-top: 85px;
	width: 100px;
	height: 50px;
}
.logoutbutton
{
	margin-top: 30px; 
	float: center;
	width: 100px;
	height: 50px;
}
